# Created by .ignore support plugin (hsz.mobi)

# config
/configs/dev/config.json

# ide
/.idea

# pyc
*.pyc
/configs/dev/ebay.yaml
/runtime/sentence.txt
/runtime/sentence.csv
/src/services/mitm_debug.py
/venv
